*.pyc
mediflowApp/migrations/0002_exam_patient_delete_uploadedfile_exam_patient.py
mediflowApp/migrations/0003_remove_exam_patient.py
venv/
db.sqlite3
media/uploads
media/results
media/test_folder
google_auth/
.venv/
**/__pycache__/
!**/migrations/
media/