{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/view_pdf.css' %}">
<link rel="stylesheet" href="{% static 'styles/back_button.css' %}">
{% endblock %}

{% block title %}Exam Analysis{% endblock %}

{% block return %}
<a href="{% url 'view_patients' %}" class="back-link">
    <button class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7 12L15 4L17.2 6.1L11.3 12L17.2 17.9L15 20L7 12Z" fill="#1C2E45" fill-opacity="0.6"/>
        </svg>
        Back
    </button>
</a>
{% endblock %}

{% block content %}

<h1>Exam Analysis</h1>
<p>Currently analyzing the exam of <strong>{{ file.patient.name }} {{ file.patient.last_name }}</strong> with identification number <strong>{{ file.patient.identification }}</strong></p>
<div class="patient-info">
    <div><strong>Age:</strong><p>{{ file.patient.age }}</p></div>
    <div><strong>Gender:</strong><p>{{ file.patient.gender }}</p></div>
    <div><strong>Date of birth:</strong><p>{{ file.patient.date_of_birth }}</p></div>
    <div><strong>Health insurance:</strong><p>{{ file.patient.health_insurance }}</p></div>
    <div><strong>Date of test result:</strong><p>{{ file.exam_date }}</p></div>
</div>

<div class="content-wrapper">
    <div class="pdf-container">
        <object data="{{ file.file.url }}" type="application/pdf" width="100%" height="800">
            <p>Your browser doesn't support the PDF visualization. You can download the file <a href="{{ file.file.url }}">here</a>.</p>
        </object>
    </div>

    <div class="form-wrapper">
        <form method="POST" id="save-analysis" class="form-container">
            {% csrf_token %}
            <label for="exam_type" class="form-label"><h3>Exam Type:</h3></label>
            <select name="exam_type" id="exam_type" class="form-select">
                <option value="" selected></option>
                <option value="segmento_anterior">Segmento Anterior</option>
                <option value="nervio_optico">Nervio Óptico</option>
            </select>

            <label for="result_analysis" class="form-label"><h3>Test Result Analysis:</h3></label>
            <textarea name="result_analysis" id="result_analysis" class="form-control" rows="20">{{ default_analysis }}{{ file.result_analysis }}</textarea>

            <button type="submit" class="btn">Save Analysis</button>
        </form>

        {% if file.is_analyzed %}
        <a href="{% url 'download' file.id %}" class="form-container">
            <button class="btn">Download Analyzed Exam</button>
        </a>

        {% else %}
        <a href="{% url 'download' file.id %}" class="form-container">
            <button class="btn-disabled" disabled>Download Analyzed Exam</button>
        </a>
        {% endif %}

        <form action="{% url 'next_exam' %}" method="POST" class="form-container">
            {% csrf_token %}
            <button class="btn" type="submit">Next Exam</button>
        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const exam_type = document.getElementById('exam_type');
        const analysis_text_area = document.getElementById('result_analysis');

        const exam_type_variable = "{{ exam_types }}";
        const exam_types = JSON.parse("{{ exam_types|escapejs }}");

        var form = document.getElementById('save-analysis');
        const form_data = new FormData(form);

        exam_type.addEventListener('change', function() {
            for (let element in exam_types) {
                if (element === exam_type.value) {
                    analysis_text_area.value = exam_types[element];
                    form_data.append('save_analysis', exam_type.value);
                }
            }
        });
    });
</script>
{% endblock %}