{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/view_pdf.css' %}">
<link rel="stylesheet" href="{% static 'styles/back_button.css' %}">
{% endblock %}

{% block title %}Exam Analysis{% endblock %}

{% block return %}
<a href="{% url 'view_patients' %}" class="back-link">
    <button class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7 12L15 4L17.2 6.1L11.3 12L17.2 17.9L15 20L7 12Z" fill="#1C2E45" fill-opacity="0.6"/>
        </svg>
        Back
    </button>
</a>
{% endblock %}

{% block content %}

<h1>Exam Analysis</h1>
<p>Currently analyzing the exam of <strong>{{ file.patient.name }} {{ file.patient.last_name }}</strong> with identification number <strong>{{ file.patient.identification }}</strong></p>

<div class="patient-info">
    <div>
        <strong>Name:</strong>
        <input type="text" name="patient_name" class="patient-field" value="{{ file.patient.name }}">
    </div>
    <div>
        <strong>Last Name:</strong>
        <input type="text" name="patient_last_name" class="patient-field" value="{{ file.patient.last_name }}">
    </div>
    <div>
        <strong>Age:</strong>
        <input type="number" name="patient_age" class="patient-field" value="{{ file.patient.age|default:'' }}">
    </div>
    <div>
        <strong>Gender:</strong>
        <select name="patient_gender" class="patient-field">
            <option value="">Select</option>
            <option value="Male" {% if file.patient.gender == 'Male' %}selected{% endif %}>Male</option>
            <option value="Female" {% if file.patient.gender == 'Female' %}selected{% endif %}>Female</option>
        </select>
    </div>
    <div>
        <strong>Date of Birth:</strong>
        <input type="date" name="patient_date_of_birth" class="patient-field" value="{{ file.patient.date_of_birth|date:'Y-m-d'|default:'' }}">
    </div>
    <div>
        <strong>Health Insurance:</strong>
        <input type="text" name="patient_health_insurance" class="patient-field" value="{{ file.patient.health_insurance|default:'' }}">
    </div>
    <div>
        <strong>Date of Test Result:</strong>
        <input type="date" name="exam_date" class="patient-field" value="{{ file.exam_date|date:'Y-m-d'|default:'' }}">
    </div>
</div>

<div class="content-wrapper">
    <div class="pdf-container">
        <object data="{{ file.file.url }}" type="application/pdf" width="100%" height="800">
            <p>Your browser doesn't support the PDF visualization. You can download the file <a href="{{ file.file.url }}">here</a>.</p>
        </object>
    </div>

    <div class="form-wrapper">
        <form method="POST" id="save-analysis" class="form-container">
            {% csrf_token %}

            <label for="exam_type" class="form-label"><h3>Exam Type:</h3></label>
            <select name="exam_type" id="exam_type" class="form-select">
                <option value="" selected></option>
                {% for exam_type in exam_types_list %}
                    <option value="{{ exam_type }}" {% if file.exam_type|lower == exam_type|lower %}selected{% endif %}>{{ exam_type|title }}</option>
                {% endfor %}
            </select>

            <label for="apparatus" class="form-label"><h3>Device/Apparatus:</h3></label>
            <select name="apparatus" id="apparatus" class="form-select">
                <option value="" selected></option>
                {% for device in devices_list %}
                    <option value="{{ device }}" {% if file.apparatus == device %}selected{% endif %}>{{ device }}</option>
                {% endfor %}
            </select>

            <label for="result_analysis" class="form-label"><h3>Test Result Analysis:</h3></label>
            <textarea name="result_analysis" id="result_analysis" class="form-control" rows="20">{{ default_analysis }}{{ file.result_analysis }}</textarea>

            <button type="submit" class="btn">Save Analysis</button>
        </form>

        {% if file.is_analyzed %}
        <a href="{% url 'download' file.id %}" class="form-container">
            <button class="btn">Download Analyzed Exam</button>
        </a>

        {% else %}
        <a href="{% url 'download' file.id %}" class="form-container">
            <button class="btn-disabled" disabled>Download Analyzed Exam</button>
        </a>
        {% endif %}

        <form action="{% url 'next_exam' %}" method="POST" class="form-container">
            {% csrf_token %}
            <button class="btn" type="submit">Next Exam</button>
        </form>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const exam_type = document.getElementById('exam_type');
        const analysis_text_area = document.getElementById('result_analysis');

        const exam_types = JSON.parse("{{ exam_types|escapejs }}");

        exam_type.addEventListener('change', function() {
            for (let element in exam_types) {
                if (element === exam_type.value) {
                    analysis_text_area.value = exam_types[element];
                }
            }
        });
    });
</script>
{% endblock %}